<!DOCTYPE html>


<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <head>
    <h1>welcome to add page </h1>
  </head>
  <div role="main">
    <p><%= content %></p>
    <form action="/add" method="post">
      <table>
        <tr>
          <th>NAME</th>
          <td><input type="text" name="id" value=""></td>
        </tr>
        <tr>
          <th>MAIL</th>
          <td><input type="text" name="todo" value=""></td>
        </tr>
        <tr>
          <th></th>
          <td><input type="submit" value="送信"></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>